@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";


body {
  background-color: #0F4C5C;
  text-align: center;
  padding-top:5%;
}

.navbar {
  padding: .5% 3% 0% 3%;
}

.center {
  display: inline-flex;
}

  .navbar-brand {
    color: #FB8B24;
  }
    .navbar-toggler-icon {
      background-color: #FB8B24;
    }

    .offcanvas {
      width:fit-content;
    }
